@import '~@reuters-graphics/style-theme-eisbaer/scss/main';
@import '~@reuters-graphics/style-color/scss/thematic/brand';

$IncomeVaccinations-container: '#vaccination-income-container' !default;

#{$IncomeVaccinations-container} {
  background: #2f353f;
  /* Write your chart styles here */
  .axis {
    pointer-events: none;
    text {
      font-family: $font-family-sans-serif;
      color: #999;
      fill: #999;
      font-size: 13px;
    }

    line,
    path {
      stroke: #999;
      opacity: .2;
      stroke-width: 1px;
    }

    path.domain {
      display: none;
    }
  }

  .cell-group{
    cursor: crosshair;
  }

  .hover-name,.hover-population-number{
    pointer-events: none;
    text-shadow: 2px 2px 2px #333, 2px 2px 2px #333, 0 -2px 0 #333, -2px 0 0 #333;
    fill: white;
  }
  .hover-name{
    font-size: 1rem;
    font-weight: 600;
  }

  .hover-population-number{
    font-size: .9rem;
  }
}
