@import '~@reuters-graphics/style-theme-eisbaer/scss/main';
@import '~@reuters-graphics/style-color/scss/thematic/brand';

$IncomeVaccinations-container: '#vaccination-income-container' !default;

#{$IncomeVaccinations-container} {
  background: #2f353f;
  position: relative;
  /* Write your chart styles here */
  .axis {
    pointer-events: none;
    text {
      font-family: $font-family-sans-serif;
      color: #999;
      fill: #999;
      font-size: 13px;
    }

    line,
    path {
      stroke: #999;
      opacity: 0.2;
      stroke-width: 1px;
    }

    path.domain {
      display: none;
    }
  }

  .cell-group {
    cursor: crosshair;
  }

  .hover-name,
  .hover-population-number,
  .hover-population-absolute {
    pointer-events: none;
    text-shadow: 2px 2px 2px #333, 2px 2px 2px #333, 0 -2px 0 #333,
      -2px 0 0 #333;
    fill: white;
  }
  .hover-name {
    font-size: 1rem;
    font-weight: 600;
  }

  .hover-population-number,
  .hover-population-absolute {
    font-size: 0.9rem;
  }

  .key-text {
    text-align: right;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: 0;
    line-height: 1rem;
    margin-bottom: 5px;
  }

  .legend-text {
    font-size: 0.8rem;
  }

  .axis-text {
    font-size: 0.8rem;
    line-height: 1rem;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -25px;

    @media (max-width: 875px) {
      margin-top: -45px;
      max-width: 150px;
      text-align: left;
    }
  }

  .axis-group,
  .key-group {
    display: inline-block;
    vertical-align: bottom;
  }
}
